* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #666;
}

.info-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 68rem;
  margin: auto;
  padding-top: 8px;
}
.website-info {
  background-color: #f2f2f2;
  padding: 20px 40px;
  border-top: 6px solid #7bb6b9;
}
.contact {
  margin-left: 10px;
}
.info-content .fa-phone {
  margin-right: 10px;
  font-size: 24px;
}
.info-content .fa-envelope {
  margin-left: 15px;
  font-size: 24px;
}

.material-icons {
  margin-right: 6px;
}
.space {
  margin-left: 10px;
}
button {
  border: none;
  cursor: pointer;
  color: #666;
}
.header {
  z-index: 100;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #7bb6b9;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-content {
  color: #666;
  font-family: "Roboto", sans-serif;
}
.header-link:hover {
  color: #7bb6b9;
  cursor: pointer;
  text-decoration: none;
}
.header-link {
  color: #666;
  text-decoration: none;
  margin-right: 15px;
  font-size: 18px;
}
.home {
  color: #7bb6b9;
}
.home:hover {
  color: #666;
}

.img-name:hover {
  cursor: pointer;
  color: #666;
}

.fa-facebook {
  margin-left: 8px;
  margin-right: 18px;
}
.fa-facebook:hover {
  color: #999;
}

.fa-instagram:hover {
  color: #999;
}
.carousel {
  position: relative;
}
.dog-photo {
  max-width: 100%;
}

.button-icon {
  border: none;
  height: 40px;
  width: 40px;
  font-size: 40px;
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.button-icon:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}
.icon-left {
  left: 0;
  top: 50%;
  transform: translate(50%, -50%);
}
.icon-right {
  right: 40px;
  top: 50%;
  transform: translate(50%, -50%);
}
.testimonial-section {
  position: relative;
}
.centralized-content {
  max-width: 68rem;
  margin: auto;
  padding: 15px;
}

.photo-doctor {
  max-width: 100%;
}
.grid-testimonial {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
  padding: 0 15px;
}
.name-title {
  font-family: "Roboto", sans-serif;
  color: #666;
  font-size: 24px;
  font-weight: 300;
  padding: 15px 0 8px 0;
}
.crmv {
  font-family: "Roboto", sans-serif;
  color: #666;
  font-size: 15px;
  font-weight: 300;
  padding: 0px 0px 15px;
  color: #0c8599;
}
.testimonial-box .description {
  font-family: "Roboto", sans-serif;
  color: #666;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  text-align: justify;
}
.testimonial-box {
  grid-column: 2 / -1;
  align-self: center;
}

.header-detail-01 {
  width: 100px;
  height: 4px;
  display: inline-block;
  background: #7bb6b9;
  padding-top: 3px;
  margin-bottom: 10px;
}
.grid-treatment {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 50px;
}
figure {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 15px;
  margin-inline-end: 15px;
}
img {
  width: 100%;
}
.types img {
  /* border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; */

  background-color: white;
}
.types {
  /* box-shadow: 0 20px 30px 0 rgb(0 0 0 / 7%); */
  padding: 10px;

  background-color: white;
}
.centralized-title {
  font-size: 30px;
  text-align: center;
  max-width: 68rem;
  margin: auto;
  margin-bottom: 20px;

  font-weight: 300;
}
.treatment-box {
  margin-top: 15px;
}
.types-treatment {
  background-color: #f0f0f0;
  padding-top: 6rem;
}

.header-detail-2 {
  width: 100px;

  margin: auto;
  height: 4px;
  display: block;
  background: #7bb6b9;
  padding-top: 3px;
  margin-bottom: 10px;
}
.treatment-box h3 {
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 22px;
  color: #466c6d;
}
.treatment-box .description {
  line-height: 23px;
  /* text-align: justify; */
}
.featured-carousel {
  position: relative;
  max-width: 68rem;
  margin: auto;
  padding-bottom: 30px;
}
.dots {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 15px;
  display: flex;
  gap: 20px;
}
.dot.dot--fill {
  background-color: #000;
}

.dot {
  background-color: #666;
  height: 5px;
  width: 5px;
  opacity: 0.75;

  border-radius: 50%;
  cursor: pointer;
}
.types-border {
  position: relative;
  border: 1px solid #ccc;
  border-top: 0;
  padding-bottom: 30px;
}
.date {
  position: absolute;
  bottom: 10px;
  font-size: 12px;
  margin-left: 11rem;
}
.news {
  padding-top: 5rem;
}
.contact-form-input {
  display: block;
}
.header-detail-03 {
  width: 100px;

  margin: auto;
  height: 4px;
  display: block;
  background: white;
  padding-top: 3px;
  margin-bottom: 10px;
}
.white-title {
  color: white;
}

.large-title.contact-title {
  background: #7bb6b9;
  padding: 2rem;
  margin-top: 40px;
}
.title-form h3 {
  font-weight: 300;
  font-size: 30px;
  padding-top: 4rem;
  padding-bottom: 15px;
}
#contact-form {
  margin-top: 20px;
}
.contact-form-input {
  margin-top: 15px;
  width: 100%;
  height: 30px;
}
.message-field {
  height: 6rem;
}
form p {
  margin-top: 10px;
  margin-bottom: 20px;
}
.btn-send {
  border: none;
  padding: 10px 30px;
  font-size: 15px;
  border-radius: 4px;
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7bb6b9;
  color: white;
  font-size: 17px;
}
.info h3 {
  font-size: 24px;
  font-weight: 300;
}
.contact-info-box p {
  margin-top: 5px;
}
.contact-info-box {
  color: #666;
}
.contact-info-box {
  border-bottom: 1px solid #d6d6d6;
  margin-top: 7px;
  margin-bottom: 7px;
}
.contact-info-box:last-child {
  border-bottom: none;
}
.contact-box {
  margin-bottom: 20px;
  background: #eee;
  border-radius: 10px;
  border: 1px solid #d6d6d6;
}
.contact-info-box p {
  margin-bottom: 10px;
}
.contact-info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 6rem;
  column-gap: 40px;
}
.header-detail-04 {
  width: 100px;
  height: 4px;
  display: inline-block;
  background: #7bb6b9;
  padding-top: 3px;
  margin-bottom: 10px;
  margin-top: 5px;
}
.contact-map-column {
  border: 1px solid #d6d6d6;
  border-radius: 10px;
}

.insurance {
margin-top: 9.0rem;

}

.header-detail-5 {
  width: 100px;
  margin: auto;
  height: 4px;
  display: block;
  background: #7bb6b9;
  padding-top: 3px;
  margin-bottom: 10px;
}
.grid-treatmen-insurance {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
}
.img-insurence {
  list-style: none;
  position: relative; 
  width: 190px;
  margin-right: 30px;
  height: 150px;
}
.img-insurence img{
  height: 100%;
  width: auto;
}
.footer-wrapper {
background-color: #7bb6b9;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-medical {
  color: #fff;
  background-color: transparent;
  font-family:"Roboto", sans-serif;
  font-size: 18px;
  text-align: center;
  padding-bottom: 5px;
}

.footer-img {
  max-width: 92px;
  color: #fff;
  margin-right: 8px;
  box-sizing: border-box;
  vertical-align: middle;

}
.footer-img a {
  display: block;
  border-style: none;
  border: none;
  align-items: center;
}  

.whatsapp-link {
  color:#fff ;
  text-align: center;
  font-size: 15px ;
  z-index: 1000 ;
  text-decoration: none;

}
.whatsapp{
  position: fixed;
  bottom:10px;  
  right:25px ;
  height:30px ;
  background-color: #00c062;
  padding:8px;
  border-radius: 20px;
}
