* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #666;
}

.info-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 68rem;
  margin: auto;
  padding-top: 8px;
}
.website-info {
  background-color: #f2f2f2;
  padding: 20px 40px;
  border-top: 6px solid #7bb6b9;
}
.contact {
  margin-left: 10px;
}
.fa-phone {
  margin-right: 10px;
  font-size: 24px;
}
.fa-envelope {
  margin-left: 15px;
  font-size: 24px;
}

.material-icons {
  margin-right: 6px;
}
.space {
  margin-left: 10px;
}
button {
  border: none;
  cursor: pointer;
  color: #666;
}
.fa-facebook {
  margin-left: 8px;
  margin-right: 18px;
}
.fa-facebook:hover {
  color: #999;
}

.fa-instagram:hover {
  color: #999;
}
