* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #666;
}

.info-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 68rem;
  margin: auto;
  padding-top: 8px;
}
.website-info {
  background-color: #f2f2f2;
  padding: 20px 40px;
  border-top: 6px solid #7bb6b9;
}
.contact {
  margin-left: 10px;
}
.fa-phone {
  margin-right: 10px;
  font-size: 24px;
}
.fa-envelope {
  margin-left: 15px;
  font-size: 24px;
}

.material-icons {
  margin-right: 6px;
}
.space {
  margin-left: 10px;
}
button {
  border: none;
  cursor: pointer;
  color: #666;
}
.header {
  z-index: 100;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #7bb6b9;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-content {
  color: #666;
  font-family: "Roboto", sans-serif;
}
.header-link:hover {
  color: #7bb6b9;
  cursor: pointer;
  text-decoration: none;
}
.header-link {
  color: #666;
  text-decoration: none;
  margin-right: 15px;
  font-size: 18px;
}
.home {
  color: #7bb6b9;
}
.home:hover {
  color: #666;
}

.img-name:hover {
  cursor: pointer;
  color: #666;
}

.fa-facebook {
  margin-left: 8px;
  margin-right: 18px;
}
.fa-facebook:hover {
  color: #999;
}

.fa-instagram:hover {
  color: #999;
}
.carousel {
  position: relative;
}
.dog-photo {
  max-width: 100%;
}

.button-icon {
  border: none;
  height: 40px;
  width: 40px;
  font-size: 40px;
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.button-icon:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}
.icon-left {
  left: 0;
  top: 50%;
  transform: translate(50%, -50%);
}
.icon-right {
  right: 40px;
  top: 50%;
  transform: translate(50%, -50%);
}
.testimonial-section {
  position: relative;
}
.centralized-content {
  max-width: 68rem;
  margin: auto;
}

.photo-cat {
  max-width: 100%;
}
.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
  padding: 0 15px;
}
.name-title {
  font-family: "Roboto", sans-serif;
  color: #666;
  font-size: 24px;
  font-weight: 300;
  padding: 15px 0 8px 0;
}
.crmv {
  font-family: "Roboto", sans-serif;
  color: #666;
  font-size: 15px;
  font-weight: 300;
  padding: 0px 0px 15px;
  color: #0c8599;
}
.description {
  font-family: "Roboto", sans-serif;
  color: #666;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  text-align: justify;
}
.testimonial-box {
  grid-column: 2 / -1;
  align-self: center;
}

.header-detail-01 {
  width: 100px;
  height: 4px;
  display: inline-block;
  background: #7bb6b9;
  padding-top: 3px;
  margin-bottom: 10px;
}
